.grid-item {
    
    .btn {
    padding: 10px;
    background-color: $bg-color;    
    border: 1px solid;
    border-color: white;
    
        a {
            color: $text-color;
            text-decoration: none;
        }

    }

    .grid-item-btn {
        @extend .btn;
        margin-top: 6px;
    }

}