nav {
    text-align: center;
    margin: 0px;
    background-color: $bg-color-2;
    padding: 5px;
    

    ul {
        
        li {
            display: inline-block;

            a {
                margin: 20px;
                text-decoration: none;
                color: $text-color;
                background-color: $bg-color;
                padding: 8px;
                border: 2px solid $border-color

            }

        }
    
    }

}