@import "variables";
@import "nav";
@import "btns";


body {
    box-sizing: border-box;
    margin: auto;
    padding: auto;
    background-color: $bg-color;
    font-size: 16px;
    font-family: 'Mukta', sans-serif;

    h1 {
        color: white;
        margin-left: 10px;
    }

    header {
        background-color: $bg-color-2;
        padding: 10px;
        color: $text-color;
        margin-bottom: 30px;
    }

    .grid-container {
        display: grid;
        grid-template-columns: auto auto auto auto;
        gap: 50px;
        margin-left: 10px;
        margin-right: 10px;
        justify-content: center;

        .grid-item {
            display: inline-grid;
            grid-template-rows: auto auto auto auto;
            gap: 15px;
            width: 400px;
            overflow: hidden;
            color: $text-color;
            background-color: $bg-color-2;
            padding: 10px;
            border-radius: 5px;
    
    
            h2 { 
                color: $text-color;
                margin: 0px;
            }
    
            p {
                color: $text-color;
                margin: 0px;
            }
    
            img {
                width: 99%;
                height: 230px;
                border: 2px solid white;
                border-radius: 7px;
            }
            
            

        }

    }





}