@import "variables";
@import "nav";
@import "btns";


body {
    box-sizing: border-box;
    margin: auto;
    padding: auto;
    background-color: $bg-color;
    font-size: 16px;
    font-family: 'Mukta', sans-serif;

    .grid-container {
        display: grid;
    }


    .grid-item {
        width: 400px;
        margin: 20px;
        overflow: hidden;

        h1 { 
            color: $text-color;
        }

        p {
            color: $text-color;
        }

        img {
            width: 300px;
            height: 200px;
            border: 2px solid white;
            border-radius: 7px;
        }
    }

}